body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}



.main{
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#containerId{
    
    margin: auto;
    margin-top: 70px;
}

#Mobile{
    width: 50%;
    height: 618px;
    float: left;
    text-align: right;
}

.phone{
    height: 618px;
    width: 40%;
}

#instagramCont{
    
    height: 618px; 
    text-align: center;
    margin-left: 33px;
    float: left
}

#containerForm{
    
    background-color: white;
    height: 382px ;
    width: 350px;
    text-align: center;
    border: 1px solid #dadada;
}

#mainImage{

    background-color: white;
    height: 122px;
}


#instaFont{
    
    background-color: white;
    height: 56px;
    width: 175px;
    text-align: center;
}

button.logButton{
    height: 32px;
    width: 270px;
    background-color: #c1dffa;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid #c1dffa; 
    border-radius: 4px;
    margin: 5px;
}

#username{
    height: 50px;
    width: 295px;
    background-color: #fafafa;
    color: #8f8f8f;
    margin: 5px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #dadada;
    padding-left: 15px;
    
}
#or {
    margin: 15px;
    color: #8f8f8f;
    font-size: 12px;
}

.fbLogginWith{
    background-color: #4867aa;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.fbLoggin{
    color: rgb(60, 82, 129);
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

button.fbButton {
    border: none;
    background-color: transparent;
}

#forgotPasswordAnchor{
    color:rgb(60, 82, 129);
}

#forfogPassword{
    margin-top: 15px;
    font-size: 11px;
}

#noAccount{
    background-color: white;
    text-align: center;
    border: 1px solid #dadada;
    height: 63px;
    width: 350px;
    font-size: 14px;
    margin-top: 14px;
}
#signUp{
    color: rgb(0, 143, 252);
    padding-left: 5px;
    font-weight: bold;
}
#getApp{
    background-color: transparent;
    width: 350px;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}
button.buttonStore, img.buttonImg{
    width: 138px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 5px;
    background-color: transparent;
}
#buttons{
    width: 350px;
    height: 60px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    
           
  }

   
.footer-links{
    text-decoration-line: none;
    color: #262626;
    padding:10px;
  }





